body {
  font-family: 'Poppins', sans-serif;;
  margin: 0;
  padding: 0;
}

#header {
  height: 80px;
  width: 100%;
  color: #222222;
  min-width: 990px;
  display: flex;
  align-items: center;
}
.header-logo-text {
  color: #691F74;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0px 20px 48px;
  text-align: left;
}
.header-menu {
  display: flex;
  gap: 64px;
  position: relative;
  margin: 20px auto;
  text-align: center;
  line-height: 38px;
  min-width: fit-content;
  white-space: nowrap;
}
.header-menu-item {
  font-size: 15px;
}
.header-menu-item:hover {
  cursor: pointer;
}
.menu-active::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 27px;
  border-radius: 50px;
  background: #e76751;
  bottom: -3px;
  right: 9%;
  text-align: center;
  transform: translateX(-50%);
}
.header-right {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto 48px auto 0px;
  min-width: fit-content;
}
.header-right-lang {
  display: flex;
  gap: 4px;
}
.lang:hover {
  cursor: pointer;
  color: #081421 !important;
}
.header-right-account {
  color: #676771;
  border: 1px solid #E1DCE2;
  border-radius: 80px;
  padding: 14px 24px;
  white-space: nowrap;
  max-width: 173px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-right-recruite {
  border: 1px solid #e76751;
  border-radius: 80px;
  padding: 14px 24px;
  color: #e76751;
  margin-left: 8px;
}
.header-right-recruite:hover {
  cursor: pointer;
  background-color: #e76751;
  color: #fff;
}
.nav-contain {
  padding-top: 50px;
  margin-left: 150px;
  width: 1000px;
}
.nav-contain-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #30183f;
  margin-bottom: 5px;
  width: 720px;
}
.nav-contain-subtitle {
  font-weight: normal;
  font-size: 18px;
  color: #30183f;
  opacity: 0.9;
  padding-bottom: 30px
}
.form-contain {
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}
.form-contain-item {
  display: flex;
  gap: 3px;
}
.input-label {
  padding-left: 13px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #30183f;
  display: inline-block;
}
.input {
  font-size: 16px !important;
  border-radius: 74px;
  height: 48px;
  margin-right: 15px;
  width: 200px;
  padding: 0px 54px;
  font-size: 14px;
  background-color: #f6f6f9;
  border: 1px solid #f6f6f9;
  box-sizing: border-box;
}
.input-item {
  position: relative;
}
.salary-icon {
  color: #691F74;
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: 17px !important;
}
.chevrondown-icon {
  color: #D1CCD6;
  position: absolute;
  top: 15px;
  right: 38px;
  font-size: 14px !important;
}
.input-time {
  font-size: 16px !important;
  border-radius: 74px;
  height: 48px;
  margin-right: 15px;
  width: 140px;
  padding: 0px 30px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f6f6f9;
  border: 1px solid #f6f6f9;
  box-sizing: border-box;
}
.input-adress {
  font-size: 16px !important;
  border-radius: 74px;
  height: 48px;
  margin-right: 15px;
  width: 225px;
  padding: 0px 30px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f6f6f9;
  border: 1px solid #f6f6f9;
  box-sizing: border-box;
}
.calculator-but {
  background-color: #e34b31;
  color: white;
  width: 145px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 18px;
  text-align: center;
  user-select: none;
  margin-top: 23px;
}
.calculator-but:hover {
  opacity: 0.9;
}
.main-header-img {
  width: 225px;
  position: absolute;
  z-index: 0;
  top: 94px;
  left: 1146px;
}
#container {
  background-color: #f6f6f9;
  width: 100%;
}
.content {
  margin-left: 150px;
  width: fit-content;
  min-height: 760px;
}
.first-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 640px;
  padding: 23px;
  border-radius: 8px;
  color: #676767;
}
.first-content-header-label {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #30183f;
}
.first-content-header-list {
  display: flex;
  align-items: center;
  width: 100%;
}
.first-content-header-list-item {
  padding: 8px 11px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 14px;
  margin-right: 12px;
  color: #602770;
}
.first-content-header-list-item:hover {
  background-color: #f6f6f9;
}
.item-active {
  background: rgba(105, 31, 116, 0.1);
  color: #691f74;
  font-weight: 600;
}
.first-content-container-top {
  border-bottom: 1px solid #f6f6f9;
  background-color: #fff;
  width: 640px;
  padding: 23px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-radius: 8px;
  color: #676767;
}
.container-top-title {
  font-weight: 600;
  font-size: 18px;
  color: #30183f;
  margin-bottom: 18px;
}
.first-content-container-bottom {
  background-color: #fff;
  width: 640px;
  padding: 23px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-radius: 8px;
  color: #676767;
}
.deduction-item {
  width: 320px;
  font-size: 14px;
}
.deduction-item-card {
  position: relative;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.item-card-active {
  font-weight: 700;
  color: #30183f;
}
.item-card-value {
  color: #30183f;
}
.line-split {
  border-bottom: 1px solid #f6f6f9;
  margin: 18px 0;
}
.pie-chart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 245px !important;
  position: relative;
  min-height: 225px;
  margin-bottom: 50px;
}
.chart-holder {
  position: relative;
}















#footer {
  max-width: 1100px;
  width: 100%;
  padding: 30px 15px 20px;
  margin: 0 auto;
}
.footer-contain {
  max-width: 1100px;
  width: 100%;
  padding: 30px 15px 20px;
  margin: 0 auto;
}
.footer-contain-col-holder {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  line-height: 32px;
  color: #691f74;
  justify-content: space-evenly;
  margin: auto;
}
.footer-contain-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-contain-col-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #30183F;
  padding: 10px 0;
}
.footer-contain-col-lists {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 0 0 10px;
}
.footer-contain-col-lists a {
  line-height: 26px;
  padding: 0 10px 0 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
.footer-contain-col-lists a:hover {
  text-decoration: underline;
}
.footer-logo {
  font-size: 120px;
  font-weight: 600;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.logo-text {
  color: #676767;
  padding-top: 8px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}